.overlay-menu{
    min-width: 100vw;
    height: 100vh;
}

.menu{
    width: 80%;
    min-height: 100%;
    background-color: #D4AF37;
    position: relative;
    overflow: auto;
}

.icon-close{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #957612;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #2229;
}

.tittle{
    width: fit-content;
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.section-menu, .section-menu label{
    position: relative;
}

.section-menu>*, .sub-section-menu>*{
    padding-inline: 10px;
}

.sub-section-menu{
    overflow: hidden;
}

.section-menu::after, .section-menu label.after::after{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #ffcF37;
    left: 0;
    bottom: -5px;
}

.menu img{
    aspect-ratio: 16/9;
    object-fit: cover;
    max-width: 100%;
    background-color: #957612;
}

.menu a, .menu label{
    display: block;
    margin-block: 10px;
}

.menu a{
    font-size: 1.05em;
}

.menu a:link, .menu a:visited{
    color: currentColor;
}

.menu li a, .menu label{
    padding-left: 2px;
    border-radius: 5px 5px 0 0;
}

.menu label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}