.conteiner-product-category{
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    gap: 15px;
    padding: 15px;
    padding-top: 0;
}

.conteiner-product-category.big{
    gap: 30px;
}

.conteiner-product-category::-webkit-scrollbar{
    height: 2px;
    background-color: #dfa85466;
}

.conteiner-product-category::-webkit-scrollbar-thumb{
    background-color: #dfa834;
}

.tittle-product-category{
    width: fit-content;
    margin: 10px 0 2px 10px;
}

.tittle-product-category.big{
    margin: 15px 0 0 30px;
    width: auto;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}