.footer-main::-webkit-scrollbar{
  height: 0;
}

.footer-main{
  aspect-ratio: 16/9;
  background-color: #af8b15;
  background-image: url('../Logo.webp');
  background-size: cover;
  display: grid;
  grid-template-columns: auto;
  overflow: auto;
  grid-auto-flow: column;
  gap: 10px;
  bottom: auto;
  margin-top: 20px;
}

.footer-main-section{
  height: 100%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-main-section a{
  font-size: .8em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: .2px;
  text-wrap: nowrap;
  margin: 8px;
  color: currentColor;
  text-shadow: 0 0 .3px #000;
  width: fit-content;
}

.footer-main-section a:active{
  background-color: #0005;
}